@import "variables.scss";

html {
  background: $hrGradient;
  padding: 0.2rem;
  border-radius: 1rem;
  min-width: 28rem;
  padding: 0.25rem;
}

body#hr-extension {
  font-family: $fontMain;
  background: $white;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.hr-header {
  border-bottom: 0.1rem solid #bbbbbb;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  .container--loading {
    display: flex;
    justify-content: space-between;
  }
  .main-header-loading {
    width: 2rem;
    margin-top: 0.35rem;
  }
  &__main-header {
    font-size: 1.1rem;
    color: $greyDark;
    margin-bottom: 0;
    font-weight: 600;
  }
  &__sub-header {
    margin-top: 0.3rem;
    font-weight: 400;
  }
}

.hr-main {
  .status-container {
    h4,
    h5 {
      margin: 0;
      font-weight: 500;
      font-size: 0.75rem;
    }

    &__mainHeader {
      span {
        font-weight: 600;
        color: $pink;
      }
    }

    &__secondHeader {
      span {
        font-weight: 600;
        color: $pink;
      }
    }
  }
}