@import "variables.scss";

html {
  background: $hrGradient;
  padding: 0.2rem;
  border-radius: 1rem;
  min-width: 28rem;
  padding: 0.25rem;
}

body#hr-extension {
  font-family: $fontMain;
  background: $white;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.hr-header {
  border-bottom: 0.1rem solid #bbbbbb;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  .container--loading {
    display: flex;
    justify-content: space-between;
  }
  .main-header-loading {
    width: 2rem;
    margin-top: 0.35rem;
  }
  &__main-header {
    font-size: 1.1rem;
    color: $greyDark;
    margin-bottom: 0;
    font-weight: 600;
  }
  &__sub-header {
    margin-top: 0.3rem;
    font-weight: 400;
  }
}

.hr-nav {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;

  &__menu-item {
    width: 100%;
    margin: 0rem 0.4rem;
    transition: 0.15s;
    cursor: pointer;

    &--title {
      text-align: center;
      color: $greyMedium;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0rem;
      padding: 0.2rem;
      transition: all 0.3s;

      &:hover:not(.hr-nav__menu-item--title--active) {
        border-bottom: 0.1rem solid $greyMedium;
        color: $blue;
      }

      &--active {
        transition: all 0.3s;
        border-bottom: 0.1rem solid $pink;
        font-weight: 800;
        color: $pink;
        translate: trasform(10px);
      }
    }
  }
}

.hr-main {
  .status-container {
    h4,
    h5 {
      margin: 0;
      font-weight: 500;
      font-size: 0.75rem;
    }

    &__mainHeader {
      span {
        font-weight: 600;
        color: $pink;
      }
    }

    &__secondHeader {
      span {
        font-weight: 600;
        color: $pink;
      }
    }
  }

}


  .container--settings {
    .checkbox--container {
      display: flex;
      flex-direction: column;
      margin: 4px 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid $greyMedium;
      &:last-child {
        border: 0;
      }
    }
    .checkbox--tooltip {
      font-size: 12px;
      padding-bottom: 2px;
      color: #4c4c4c;
    }
    .checkbox--button {
      position: relative;
      top: 50%;
      width: 74px;
      height: 36px;
      overflow: hidden;
      background: $greyLight;
      border-radius: 2px;
    }
    .checkbox {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
    }
    .knobs {
      z-index: 2;
      font-weight: 400;
    }
    .layer {
      width: 100%;
      background-color: $greyMedium;
      transition: 0.3s ease all;
    }
    #button {
      .knobs {
        &:before {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          content: "";
          left: 4px;
          background-color: $greyDark;
        }
        &:after {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          content: "YES";
          right: 4px;
        }
        span {
          position: absolute;
          top: 4px;
          width: 20px;
          height: 10px;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          line-height: 1;
          padding: 9px 4px;
          border-radius: 2px;
          transition: 0.3s ease all;
          display: inline-block;
          left: 4px;
          color: $white;
          z-index: 1;
        }
      }
      .checkbox {
        &:checked {
          + {
            .knobs {
              span {
                color: $greyDark;
              }
              &:before {
                left: 42px;
                background-color: $pink;
              }
              &:after {
                color: $white;
              }
            }
          }
          ~ {
            .layer {
              background-color: $greyLight;
            }
          }
        }
      }
    }
  }

/* CSS */
.status-container__btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.status-container__btn:hover {
  background-color: #374151;
}

.status-container__btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}